## Assignment #2 - Data Acquisition and Manipulation on SQL Databases using Python

### Name: Humberto 

Objective: The main objective of this assignment is to evaluate the learner’s ability to perform data acquisition and manipulation using Python libraries and SQL queries.

### 1. Importing packages and Reading raw data from .csv files

In [3]:
import pandas as pd
import numpy as np

In [4]:
#Read data from the sales.csv and sales_team.csv files into pandas dataframes
sales = pd.read_csv('sales.csv')
sales_teams = pd.read_csv('sales_teams.csv')

In [5]:
sales.head()

,Sales ID,Sales Agent,Product Name,Account,Deal Stage,Deal Engage Date,Deal Close Date,Close Value Per Unit,Closing Quantity
0,1C1I7A6R,Moses Frase,GTX Plus Basic,Cancity,Won,2016-10-20,2017-03-01,1054,22
1,Z063OYW0,Darcel Schlecht,GTXPro,Isdom,Won,2016-10-25,2017-03-11,4514,50
2,EC4QE1BX,Darcel Schlecht,MG Special,Cancity,Won,2016-10-25,2017-03-07,50,18
3,MV1LWRNH,Moses Frase,GTX Basic,Codehow,Won,2016-10-25,2017-03-09,588,44
4,PE84CX4O,Zane Levy,GTX Basic,Hatfan,Won,2016-10-25,2017-03-02,517,25

In [6]:
sales_teams.head()

         Sales Agent           Manager Regional Office
0      Anna Snelling  Dustin Brinkmann         Central
1     Cecily Lampkin  Dustin Brinkmann         Central
2  Versie Hillebrand  Dustin Brinkmann         Central
3    Lajuana Vencill  Dustin Brinkmann         Central
4        Moses Frase  Dustin Brinkmann         Central

### 2. Renaming columns and modifying missing values

In [8]:
#Rename the columns in both datasets, making all lowercase and replacing space with an underscore.
sales.columns = sales.columns.str.lower().str.replace(" ", "_")
sales_teams.columns = sales_teams.columns.str.lower().str.replace(" ", "_")

In [9]:
#Identify the missing values with ‘Not Available’ and ‘Unknown’, and then replace them with NaN values.
sales.replace(["Not Available", "Unknown"], np.nan, inplace=True)
sales_teams.replace(["Not Available", "Unknown"], np.nan, inplace=True)

sales.head(), sales_teams.head()

(   sales_id      sales_agent    product_name  account deal_stage  \
 0  1C1I7A6R      Moses Frase  GTX Plus Basic  Cancity        Won
 1  Z063OYW0  Darcel Schlecht          GTXPro    Isdom        Won
 2  EC4QE1BX  Darcel Schlecht      MG Special  Cancity        Won
 3  MV1LWRNH      Moses Frase       GTX Basic  Codehow        Won
 4  PE84CX4O        Zane Levy       GTX Basic   Hatfan        Won

   deal_engage_date deal_close_date close_value_per_unit closing_quantity
 0       2016-10-20      2017-03-01                 1054               22
 1       2016-10-25      2017-03-11                 4514               50
 2       2016-10-25      2017-03-07                   50               18
 3       2016-10-25      2017-03-09                  588               44
 4       2016-10-25      2017-03-02                  517               25  ,
          sales_agent           manager regional_office
 0      Anna Snelling  Dustin Brinkmann         Central
 1     Cecily Lampkin  Dustin Brinkmann         Central
 2  Versie Hillebrand  Dustin Brinkmann         Central
 3    Lajuana Vencill  Dustin Brinkmann         Central
 4        Moses Frase  Dustin Brinkmann         Central)

### 3. Derive new columns

In [11]:
# Firstly, to multiply the columns; on SALES, convert columns to numeric, coercing errors to NaN
sales['close_value_per_unit'] = pd.to_numeric(sales['close_value_per_unit'], errors='coerce')
sales['closing_quantity'] = pd.to_numeric(sales['closing_quantity'], errors='coerce')

In [12]:
#Add a new column 'total_sales_value', using 'close_value_per_unit' and 'closing_quantity'
sales['total_sales_value'] = sales['close_value_per_unit'] * sales['closing_quantity']

#Add a new column, to list the ‘Sales Region’ based on sales agent’s regional office information available in the sales team dataset
sales_merged = sales.merge(sales_teams[['sales_agent', 'regional_office']], on='sales_agent', how='left')
sales_merged.rename(columns={'regional_office': 'sales_region'}, inplace=True)

sales_merged.head()

,sales_id,sales_agent,product_name,account,deal_stage,deal_engage_date,deal_close_date,close_value_per_unit,closing_quantity,total_sales_value,sales_region
0,1C1I7A6R,Moses Frase,GTX Plus Basic,Cancity,Won,2016-10-20,2017-03-01,1054.0,22.0,23188.0,Central
1,Z063OYW0,Darcel Schlecht,GTXPro,Isdom,Won,2016-10-25,2017-03-11,4514.0,50.0,225700.0,Central
2,EC4QE1BX,Darcel Schlecht,MG Special,Cancity,Won,2016-10-25,2017-03-07,50.0,18.0,900.0,Central
3,MV1LWRNH,Moses Frase,GTX Basic,Codehow,Won,2016-10-25,2017-03-09,588.0,44.0,25872.0,Central
4,PE84CX4O,Zane Levy,GTX Basic,Hatfan,Won,2016-10-25,2017-03-02,517.0,25.0,12925.0,West

### 4. Convert ‘Deal Engage Date’ and ‘Deal Close Date’ from object data type to datetime

In [14]:
sales_merged['deal_engage_date'] = pd.to_datetime(sales_merged['deal_engage_date'])
sales_merged['deal_close_date'] = pd.to_datetime(sales_merged['deal_close_date'])

In [15]:
# Ensureing correct datatypes
print(sales_merged.dtypes)

sales_id                        object
sales_agent                     object
product_name                    object
account                         object
deal_stage                      object
deal_engage_date        datetime64[ns]
deal_close_date         datetime64[ns]
close_value_per_unit           float64
closing_quantity               float64
total_sales_value              float64
sales_region                    object
dtype: object

### 5. Drop redundant columns

In [17]:
# Dropping "close_value_per_unit" and "closing_quantity"
sales_merged.drop(columns=['close_value_per_unit', 'closing_quantity'], inplace=True)

print(sales_merged.head())

   sales_id      sales_agent    product_name  account deal_stage  \
0  1C1I7A6R      Moses Frase  GTX Plus Basic  Cancity        Won
1  Z063OYW0  Darcel Schlecht          GTXPro    Isdom        Won
2  EC4QE1BX  Darcel Schlecht      MG Special  Cancity        Won
3  MV1LWRNH      Moses Frase       GTX Basic  Codehow        Won
4  PE84CX4O        Zane Levy       GTX Basic   Hatfan        Won

  deal_engage_date deal_close_date  total_sales_value sales_region
0       2016-10-20      2017-03-01            23188.0      Central
1       2016-10-25      2017-03-11           225700.0      Central
2       2016-10-25      2017-03-07              900.0      Central
3       2016-10-25      2017-03-09            25872.0      Central
4       2016-10-25      2017-03-02            12925.0         West

### 6. Load the merged final dataframe into MySQL server using the 'replace' option

In [19]:
# Use MySQL connector to creat the new CRM database 
import mysql.connector as sql

mydb = sql.connect(
    host = "localhost",
    user = "root",
    password = "Humberto14.",
    use_pure = "True"
    )
                   
mycursor = mydb.cursor()

mycursor.execute("DROP DATABASE IF EXISTS CRM;")
mycursor.execute("CREATE DATABASE CRM;")

mycursor.execute("SHOW DATABASES;")
for db in mycursor:
    print(db)

mycursor.close()
mydb.close()

('crm',)
('information_schema',)
('mydb',)
('mydb1',)
('mydbs_assignment',)
('mysql',)
('performance_schema',)
('prob',)
('pvf',)
('sys',)
('test_db',)
('testdb_1',)

In [20]:
#Usin MySQLalchemy, write the datframe into a table named ‘sales’.
from sqlalchemy import create_engine
print("We got SQLAlchemy!")

We got SQLAlchemy!

In [21]:
dbEngine = create_engine('mysql+mysqlconnector://root:Humberto14.@localhost/CRM', connect_args={"use_pure": True})

In [22]:
sales_merged.to_sql('sales', con=dbEngine, if_exists='replace', index=False)
print("Done!")

Done!

### 7. Perform the following queries

In [24]:
# Top 5 sales agents by revenue
query_1 = """
    SELECT sales_agent, SUM(total_sales_value) AS total_revenue
    FROM sales
    GROUP BY sales_agent
    ORDER BY total_revenue DESC
    LIMIT 5;
"""
# Display results
X = pd.read_sql(query_1, dbEngine)
print(X.head())

       sales_agent  total_revenue
0  Darcel Schlecht     34399968.0
1   Vicki Laflamme     14742098.0
2    Donn Cantrell     14371400.0
3     Cassey Cress     14125702.0
4  Kary Hendrixson     13939628.0

In [25]:
# Total value of sales by region
query_2 = """
    SELECT sales_region, SUM(total_sales_value) AS total_sales
    FROM sales
    GROUP BY sales_region;
"""
# Display results
Y = pd.read_sql(query_2, dbEngine)
print(Y.head())

  sales_region  total_sales
0      Central  101367188.0
1         West  104298708.0
2         East   95171391.0

In [26]:
# Month-over-month sales comparison for 'won' deals (2016-2017)
query_3 = """
    SELECT YEAR(deal_close_date) AS year, MONTH(deal_close_date) AS month, 
            SUM(total_sales_value) AS total_sales
    FROM sales
    WHERE deal_stage = 'won' AND YEAR(deal_close_date) IN (2016, 2017)
    GROUP BY year, month
    ORDER BY year, month;
"""

# Display results
Z = pd.read_sql(query_3, dbEngine)
print(Z.head(10))

   year  month  total_sales
0  2017      3   34280671.0
1  2017      4   22540674.0
2  2017      5   31643224.0
3  2017      6   39558984.0
4  2017      7   21126817.0
5  2017      8   30421191.0
6  2017      9   37408593.0
7  2017     10   22226029.0
8  2017     11   28361958.0
9  2017     12   33269146.0

In [27]:
dbEngine.dispose()